{% extends "layout.html" %}
{% block content %}
    <h1>Welcome to this Blog!!</h1>
    <p>Hello and welcome to all!!You are visiting a blog that perhaps may not be the best of this world but this is one where you can freely express yourself . This is not of one of those typical blogs
    where you have to follow any kind of Terms and Conditions . And that very thing can be understood by the title of this blog - A Blog for ALL .
    Here we just expect our users to follow the following guidlines : </p>
    <ul type ="Circle">
        <li><b>No abusive words</b>:I kindly request all my users not to use any type of abusive words as I strictly am against this foul practice.</li>
        <li><b>And that's it</b>:We have no more prohibitions !!</li>
    </ul>
    <p>I hope you all would like this blog and enjoy every moment of it . Any recommendation would always be recommended .
        I am always available at : <b>hrishipotter123@gmail.com</b>
    <br>
    Signing off,
    <br>
    <strong>Hrishikesh Bhanja</strong>
    <br>
    15/11/2019
    </p>
    <p>
        <h5 text="red">What do we offer??</h5>
        A Blog For All is a blog where you can create,update and delete posts.Each user has his or her own unique account information. To update or delete posts, click on the post .
    </p>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="/static/profile_pics/logo.png" class="d-block w-100" alt="...">
        <p class="text-danger">Our Logo!</p>
    </div>

  </div>
</div>

{% endblock content %}