{% extends "layout.html" %}
{% block content %}

        <div class="intro">
            <div class="container text-center">


                <h1 class="name">Hrishikesh Bhanja</h1>
                <div class="title">Programmer </div>
                <div class="profile">
                    <p>I am Student of Don Bosco Park Circus in class 8 section B . I Love to program . You can always contact me at:<strong>hrishipotter123@gmail.com</strong>.This is the first website I developed so I hope that it gets a favourable response. </p>
                </div><!--//profile-->
            </div><!--//container-->
        </div><!--//intro-->

         <div class="contact-info">
            <div class="container text-center">
                <ul class="list-inline">
                    <li class="email"><i class="fa fa-envelope"></i>hrishipotter123@gmail.com</li>

                </ul>
            </div><!--//container-->
        </div><!--//contact-info-->


{% endblock %}