{% extends "layout.html" %}
{% block content %}
<body bgcolor="Light Blue" text="red">
    <h1>A BIG THANKS TO ALL!!</h1>
    <p>I would like to thank the following people for contributing towards this project.Without their continous help,this project would have been incomplete:</p>
    <ul>
        <li><b>Sajjad Ahmed Shaaz</b>:This guy introduced me to the huge world of programming .Hence, half of the credit of my building this website goes to him . A big thanks to him!!
        <li><b>All of my users</b>:Without you guys, my website is nothing. A big thanks for visiting this website . You guys rock !!</li>
    </ul>
</body>
{% endblock content %}
